<h1>Article #<%= @article.id %></h1>

<p>
  <%= link_to_pane "Edit (stack)", edit_panes_article_path(@article), overlay_args: { title: "Edit article" } %>
  -
  <%= link_to_pane "Edit (replace_all)", edit_panes_article_path(@article), overlay_action: :replace_all, overlay_args: { title: "Edit article" } %>
</p>

<hr>

<p>
  <%= @article.body %>
</p>

<hr>

<h2>Comments</h2>

<p>
  <%= link_to_pane "New comment", new_panes_article_comment_path(@article), overlay_target: :_self %>
</p>

<%= render @article.comments %>
