<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <%= render "shared/errors", resource: @article %>

  <%= form.label :body %>
  <%= form.text_area :body %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
