<h1>Edit message</h1>

<%= form_with model: @message, url: message_path(@message.id) do |form| %>
  <%= render "shared/errors", resource: @message %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Delete", message_path(@message.id), data: { turbo_method: :delete } %>
