<h1>Article #<%= @article.id %></h1>

<p>
  <%= link_to_dialog "Edit (stack)", edit_dialogs_article_path(@article), overlay_args: { title: "Edit article" } %>
  -
  <%= link_to_dialog "Edit (inside last)", edit_dialogs_article_path(@article), overlay: :last, overlay_args: { title: "Edit article" } %>
</p>

<hr>

<p>
  <%= @article.body %>
</p>

<hr>

<h2>Comments</h2>

<p>
  <%= link_to_dialog "New comment", new_dialogs_article_comment_path(@article), overlay_target: :_self %>
</p>

<%= render @article.comments %>
